h1 {
    color: darksalmon;
    text-align: center;

}
h2{ 
    color: indigo;
    text-decoration: solid;
    height: 20px;
    padding: 30px;
    background-color: rgba(153,136,17)
}
p1 {
    border-radius: 20px;
    width: 70%;
    height: 200px;
    margin: 50px auto;
background: linear-gradient(50deg, #CCFFFF, #FFCCCC);
}
p2 {
    position: center;
    margin: 50px auto;
    background-color: pink;
    height: 200px;
    width: 70%;
  }

  p5 {
    animation-name: rainbow;
    animation-duration: 10s;
  }
  
  @keyframes rainbow {
    0% {
      background-color: black;
    }
    100% {
      background-color: pink;
    }
  }
