h1 {
    color: darksalmon;
    text-align: center;

}
h2{ 
    color: indigo;
    text-decoration: solid;
    height: 20px;
    padding: 30px;
    background-color: rgba(153,136,17)
}
p {
    background-color: lightgoldenrodyellow;
}

body {
    border-radius: 20px;
    width: 70%;
    height: 400px;
    margin: 50px auto;
background: linear-gradient(35deg, #CCFFFF, #FFCCCC);

 }