body {
  background-color: black;
  margin: 0;
}
.parallax-container {
  min-height: 100vh;
  position: relative;
}
.parallax-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-right: -150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-container.alt {
  background-color: darkorchid;
}
.planet {
  width: 50%;
  height: 50%;
  background: url(/Users/chivenice/Desktop/Personal/dumb-art/planet1.png)
    no-repeat center center;
  background-size: contain;
}
